/* styles.css */

/* General body styling */
body {
    background-color: #111;
    color: #ddd;
    font-family: 'Arial', sans-serif;
}

h1 {
    text-align: center;
    color: #ff4500;  /* Neon orange color for contrast */
    text-shadow: 2px 2px 4px rgba(255, 70, 0, 0.7);
    margin-bottom: 50px;
}

/* File input styling */
input[type="file"] {
    display: block;
    margin: 20px auto;
    background-color: #333;
    color: #ddd;
    border: 1px solid #555;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="file"]:hover {
    background-color: #555;
}

/* Status message styling */
#status {
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#status.info {
    background-color: #333;
}

#status.success {
    background-color: #007700;
}

#status.error {
    background-color: #990000;
}

/* Canvas styling for charts */
canvas {
    display: block;
    margin: 30px auto;
    box-shadow: 0 0 10px 3px rgba(255, 70, 0, 0.5); /* Neon shadow */
}

/* Aggregate Metrics styling */
#aggregateMetrics {
    text-align: center;
    font-size: 1.2em;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 5px;
}

/* Tooltip styling from D3 */
.tooltip {
    position: absolute;
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #ff4500;
    border-radius: 5px;
    pointer-events: none;
    color: #ff4500;
}

/* Add transitions for smoother visual effects */
* {
    transition: all 0.3s;
}

button {
    display: block;
    margin: 20px auto;
    background-color: #333;
    color: #ddd;
    border: 1px solid #555;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

/* GAN Visualization Container */
#ganVisualizationContainer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);  /* Semi-transparent background for differentiation */
    border-radius: 10px;
    box-shadow: 0 0 10px 3px rgba(255, 70, 0, 0.5);  /* Neon shadow */
}

#ganVisualizationContainer h2 {
    color: #ff4500;
    text-shadow: 2px 2px 4px rgba(255, 70, 0, 0.7);
    margin-bottom: 30px;
}

#ganResults {
    width: 80%;  /* Adjust based on your layout */
    max-width: 900px;  /* Max width for responsiveness */
    height: 400px;  /* Adjust height as necessary */
    margin: 0 auto;
    box-shadow: 0 0 10px 3px rgba(255, 70, 0, 0.5);  /* Neon shadow */
}
